<div class="container-fluid">
    <div class="well well-sm">
        <h5 class="text-clear">Select week to refresh</h5>
        <select class="form-control" ng-model="selectedDate" ng-change="selectDate(selectedDate)">
            <option ng-repeat="date in dates" value="{{date.week}}">{{date.week}}</option>
        </select>
        <button class="btn btn-primary btn-sm" id="export_all" style = "margin-left: 20px;">Export Charts as PDF</button>
    </div>
    <div class="row">
        <div class="col-md-8">
            <div class="panel panel-default border-calm">
                <div class="panel-body">
                    <h5 class = "text-center">{{selectedDate}}</h5>
                    <highchart id="chart1" class="myChart1" config="departmentConfig"></highchart>  
                </div>
            </div>
        </div>
        <div class="col-md-4">
             <div class="panel panel-default panel-table" style = "z-index: -999px !important;">
                <div class="panel-body">
                    <table class="table table-condensed table-custom animated fadeIn">
                    <thead>
                        <th>Department</th>
                        <th>Billable</th>
                        <th>Non-Billable</th>
                    </thead>
                        <tbody>
                            <tr ng-repeat="department in departmentBillable">
                            <td>{{department.department}}</td>
                            <td>{{department.Billable}}</td>
                            <td>{{department.NonBillable}}</td>    
                            </tr>
                        </tbody>
                    </table>
                </div>
             </div>
        </div>
    </div>
    <div class="row">
        <div class = "col-md-4">
            <div class="panel panel-default panel-table" style = "color: #fff;">
                <div class="panel-body">     
                    <h5 class="text-center">Select Location to refresh</h5>
                    <select class="form-control" ng-model="selectedLocation" ng-change="selectedLocations(selectedLocation)">
                        <option ng-repeat="place in locations" value="{{place.value}}">{{place.text}}</option>
                    </select>
                </div>
            </div>
        </div>    
        <div class = "col-md-8">
            <div class="panel panel-default border-danger">
                <div class="panel-body">
                    <h5 class="text-center">{{selectedDate}}</h5>
                    <highchart id="chart1" class="myChart1" config="departmentLocationConfig"></highchart> 
                </div>
            </div>
        </div>
    </div>
     <div class="row">
        <div class = "col-md-4">
            <div class="panel panel-default panel-table" style = "color: #fff;">
                <div class="panel-body">     
                    <h5 class="text-center">Select Vertical to refresh</h5>
                    <select class="form-control" ng-model="selectedVertical" ng-change="selectedVerticals(selectedVertical)">
                        <option ng-repeat="vertical in verticals" value="{{vertical.value}}">{{vertical.text}}</option>
                    </select>
                </div>
            </div>
        </div>    
        <div class = "col-md-8">
            <div class="panel panel-default border-warning">
                <div class="panel-body">
                    <h5 class="text-center">{{selectedDate}}</h5>
                    <highchart id="chart1" class="myChart1" config="departmentVerticalConfig"></highchart> 
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
   // create canvas function from highcharts example http://jsfiddle.net/highcharts/PDnmQ/
(function (H) {
    H.Chart.prototype.createCanvas = function (divId) {
        var svg = this.getSVG(),
            width = parseInt(svg.match(/width="([0-9]+)"/)[1]),
            height = parseInt(svg.match(/height="([0-9]+)"/)[1]),
            canvas = document.createElement('canvas');

        canvas.setAttribute('width', width);
        canvas.setAttribute('height', height);

        if (canvas.getContext && canvas.getContext('2d')) {

            canvg(canvas, svg);

            return canvas.toDataURL("image/jpeg");

        } 
        else {
            alert("Your browser doesn't support this feature, please use a modern browser");
            return false;
        }

    }
}(Highcharts));

$('#export_all').click(function () {
    var doc = new jsPDF();
    
    // chart height defined here so each chart can be palced
    // in a different position
    var chartHeight = 50;
    
    // All units are in the set measurement for the document
    // This can be changed to "pt" (points), "mm" (Default), "cm", "in"
    doc.setFontSize(15);
    doc.text(35, 25, "DEPARTMENT BILLABLE V/S NON-BILLABE");
    //loop through each chart
    
    $('.myChart1').each(function (index) {        
        var imageData = $(this).highcharts().createCanvas();
  /*      if(index %2 == 0) {
            console.log("Even " + i);
            doc.addImage(imageData, 'JPEG', 15, (i * chartHeight) + 30, 100, chartHeight);                        
        } else {
            console.log("Odd " + i);
            doc.addImage(imageData, 'JPEG', 80, (i * chartHeight) + 30, 100, chartHeight);                        
        }*/
        if(index>=0 && index<=3 ){
            console.log(index)
        doc.addImage(imageData, 'JPEG', 50, (index * chartHeight) + 40, 100, chartHeight);
        }       
    });  
    
    //save with name
    doc.save('assignment_chart.pdf');
});
</script>   