<div class="container-fluid">    
<div class="row">
        <div class = "col-md-6">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h5 class="text-center">Billable</h5>
                     <highchart id="chart1" config="reportConfig"></highchart>
                </div>                                
            </div>
        </div>
        <div class = "col-md-6">
            <div class="panel panel-default" style="float:left">
                <div class="panel-body">
                    <h5 class="text-center">Non Billable</h5>
                </div>         
            </div>
        </div>
    </div>
</div>