<div class="container-fluid">    
    <div class = "well well-sm">
        <h5 class = "text-clear">Select week to refresh</h5>
        <select class = "form-control" ng-model = "selectedDate" ng-change = "selectDate(selectedDate)">
            <option ng-repeat = "date in dates" value = "{{date.week}}">{{date.week}}</option>
        </select>
        <button class="btn btn-primary btn-sm" id="export_all" style = "margin-left: 20px;">Export Charts as PDF</button>
    </div>
<div class="row">
        <div class = "col-md-4">
            <div class="panel panel-default border-calm">
                <div class="panel-body">
                    <h5 class="text-center"><span>{{selectedDate}}</span></h5>
                     <highchart id="chart1" class="myChart1" config="reportConfig"></highchart>
                    
                </div>                                
            </div>
        </div>
    <div class="col-md-4"> 
        <div class="panel panel-default panel-table" style = "z-index: -999px !important;">
            <div class="panel-body">                
              <h5 class="text-center" style = "color:#fff; z-index: 9999px; ">Based on Location | {{selectedDate}} </h5>
              <table class="table table-condensed table-custom animated fadeIn">
                <thead>
                  <tr>
                    <th>Location</th>
                    <th>Billable</th>
                    <th>Non-Billable</th>
                  </tr>
                </thead>
                <tbody>
                    <tr ng-repeat = "location in locationBillablity">
                        <td>{{location.Location}}</td>
                        <td>{{location.Billable}}</td>
                        <td>{{location.NonBillable}}</td>
                    </tr>
                </tbody>
              </table>
            </div>
        </div>
       </div>
     <div class="col-md-4">
         <div class="panel panel-default panel-table">
                <div class="panel-body">
                  <h5 class="text-center" style="color:#fff;">Based on Vertical | {{selectedDate}} </h5>
                  <table class="table table-condensed table-custom animated fadeIn">
                    <thead>
                      <tr>
                        <th>Vertical</th>
                        <th>Billable</th>
                        <th>Non-Billable</th>
                      </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="vertical in verticalBillablity">
                      <td>{{vertical.Vertical}}</td>
                      <td>{{vertical.Billable}}</td>
                      <td>{{vertical.NonBillable}}</td>
                        </tr>
                    </tbody>
                  </table>
             </div>
         </div>
       </div>
    </div>
    <div class="panel panel-default border-danger">
        <div class="panel-body">
            <h4 class="text-center"> Overall Billable v/s Non-Billable based on Location | {{selectedDate}}</h4>
            <br>
            <div class="row">
                <div class = "col-md-4">
                    <div class="panel panel-default panel-borderless">
                        <div class="panel-body">
                            <h5 class="text-center"></h5>
                            <highchart id="chart1" class="myChart1" config="bangConfig"></highchart>                           
                        </div>         
                    </div>
                </div>
                <div class = "col-md-4">
                    <div class="panel panel-default panel-borderless">
                        <div class="panel-body">
                            <highchart id="chart1" class="myChart1" config="puneConfig"></highchart>                    
                        </div>         
                    </div>
                </div>
                <div class = "col-md-4">
                    <div class="panel panel-default panel-borderless">
                        <div class="panel-body">
                            <highchart id="chart1" class="myChart1" config="londonConfig"></highchart>                            
                        </div>         
                    </div>
                </div>
            </div>
                  <div class="row">
                <div class = "col-md-4">
                    <div class="panel panel-default panel-borderless">
                        <div class="panel-body">
                            <highchart id="chart1" class="myChart1" config="mumbaiConfig"></highchart>                           
                        </div>         
                    </div>
                </div>
                <div class = "col-md-4">
                    <div class="panel panel-default panel-borderless">
                        <div class="panel-body">
                            <highchart id="chart1" class="myChart1" config="hyderabadConfig"></highchart>                    
                        </div>         
                    </div>
                </div>
                <div class = "col-md-4">
                    <div class="panel panel-default panel-borderless">
                        <div class="panel-body">
                            <highchart id="chart1" class="myChart1" config="napervilleConfig"></highchart>                            
                        </div>         
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="panel panel-default border-success">
        <div class="panel-body">
            <h4 class="text-center"> Overall Billable v/s Non-Billable based on Vertical | {{selectedDate}}</h4>
            <div class="row">
                <div class = "col-md-4">
                    <div class="panel panel-default panel-borderless">
                        <div class="panel-body">
                            <highchart id="chart1" class="myChart1" config="rdConfig"></highchart>                            
                        </div>         
                    </div>
                </div>
                <div class = "col-md-4">
                    <div class="panel panel-default panel-borderless">
                        <div class="panel-body">
                            <highchart id="chart1" class="myChart1" config="msConfig"></highchart>                            
                        </div>         
                    </div>
                </div>
                <div class = "col-md-4">
                    <div class="panel panel-default panel-borderless">
                        <div class="panel-body">
                            <highchart id="chart1" class="myChart1" config="fsConfig"></highchart>                            
                        </div>         
                    </div>
                </div>
            </div>  
        </div>
    </div>        
</div>
<script type="text/javascript">
   // create canvas function from highcharts example http://jsfiddle.net/highcharts/PDnmQ/
(function (H) {
    H.Chart.prototype.createCanvas = function (divId) {
        var svg = this.getSVG(),
            width = parseInt(svg.match(/width="([0-9]+)"/)[1]),
            height = parseInt(svg.match(/height="([0-9]+)"/)[1]),
            canvas = document.createElement('canvas');

        canvas.setAttribute('width', width);
        canvas.setAttribute('height', height);

        if (canvas.getContext && canvas.getContext('2d')) {

            canvg(canvas, svg);

            return canvas.toDataURL("image/jpeg");

        } 
        else {
            alert("Your browser doesn't support this feature, please use a modern browser");
            return false;
        }

    }
}(Highcharts));

$('#export_all').click(function () {
    var doc = new jsPDF();
    
    // chart height defined here so each chart can be palced
    // in a different position
    var chartHeight = 50;
    
    // All units are in the set measurement for the document
    // This can be changed to "pt" (points), "mm" (Default), "cm", "in"
    doc.setFontSize(40);
    doc.text(35, 25, "Billable vs NonBillable");
    //loop through each chart
    
    $('.myChart1').each(function (index) {        
        var imageData = $(this).highcharts().createCanvas();
  /*      if(index %2 == 0) {
            console.log("Even " + i);
            doc.addImage(imageData, 'JPEG', 15, (i * chartHeight) + 30, 100, chartHeight);                        
        } else {
            console.log("Odd " + i);
            doc.addImage(imageData, 'JPEG', 80, (i * chartHeight) + 30, 100, chartHeight);                        
        }*/
        if(index>=0 && index<=4 ){
            console.log(index)
        doc.addImage(imageData, 'JPEG', 15, (index * chartHeight) + 30, 100, chartHeight);
        }
        else if(index==5){
          doc.addImage(imageData, 'JPEG', 80, (0 * chartHeight) + 30, 100, chartHeight);
            }
        else if(index==6){
            doc.addImage(imageData, 'JPEG', 80, (1 * chartHeight) + 30, 100, chartHeight);
        }
        else if(index==7){
            doc.addImage(imageData, 'JPEG', 80, (2 * chartHeight) + 30, 100, chartHeight);
        }
        else if(index==8){
            doc.addImage(imageData, 'JPEG', 80, (3 * chartHeight) + 30, 100, chartHeight);
        }
        else if(index==9){
            doc.addImage(imageData, 'JPEG', 80, (4 * chartHeight) + 30, 100, chartHeight);
        }        
    });  
    
    //save with name
    doc.save('chart.pdf');
});
</script>                       
