<div ng-controller ="mainController">
    <div id="wrapper">
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" ui-sref="landing.dashboard"><img src="image/chevron.png" width="30" height="30"> <span>Finance Dashboard</span></a>
            </div>
            <!-- Top Menu Items -->
            <ul class="nav navbar-right top-nav">
                <li> 
                    <div>Welcome, <span>{{fullName}}</span></div> 
                </li>
                <li class="dropdown">
                    <a ng-click = "logOut()" class = "logout"><i class="fa fa-sign-out"></i>&nbsp;Logout</a>
                </li>
            </ul>
            <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav side-nav">
                    <li>
                        <a ui-sref="landing.dashboard"><i class="fa fa-fw fa-dashboard"></i> Billability</a>
                    </li>
                    <li>
                        <a ui-sref="landing.utilization"><i class="fa fa-fw fa-bar-chart-o"></i> Utilization</a>
                    </li>
                    <li ng-if="role == 'Admin'">
                        <a ui-sref="landing.finance"><i class="fa fa-fw fa-table"></i> Finance</a>
                    </li>
                    <li>
                        <a ui-sref="landing.assignment"><i class="fa fa-fw fa-edit"></i> Assigment</a>
                    </li>
                    <li ng-if="role == 'Admin'">
                        <a ui-sref="landing.upload"><i class="fa fa-fw fa-file"></i> Upload</a>
                    </li>
                </ul>
            </div>            
        </nav>
        <div id="page-wrapper">
            <div class="container">
                <div ui-view></div>
            </div>          
        </div>      
    </div>
    
    <script>
        $(document).ready(function() {                        
            $('.side-nav li a').click(function() {
                $('.side-nav li').removeAttr('class');
                $(this).parent().attr('class', 'active'); 
            });
        });
    </script>
</div>
